<a href='/new'>項目選択へ戻る</a>
<p></p>

<form method="post" action="?">
    <h3>Q1.あなたにとって「自分」とは何ですか？</h3>
    <p></p>
    <textarea required name="question1" cols="50" rows="10"></textarea>
    <p></p>
    
    <h3>Q2.なぜその言葉を選びましたか？</h3>
    <p></p>
    <textarea required name="question2" cols="50" rows="10"></textarea>
    <p></p>
    
    <h3>Q3.その思いを抱くに至った具体的なエピソードは何ですか？</h3>
    <p></p>
    <textarea required name="question3" cols="50" rows="10"></textarea>
    <p></p>
   
    <h3>Q4.ここまでの分析で気づいたことは何ですか？</h3>
    <p></p>
    <textarea required name="question4" cols="50" rows="10"></textarea>
    <p></p>

    <input type="submit"  value="分析する" formaction="/process">

    <h3>Q5. Q2～Q4の回答から考えらえれる，大事にしている価値観は何ですか？</h3>
    <p>コツ：名詞，形容詞に注目する．ポジティブなものはそのまま，あるいは類似表現に置き換える．
        <br> ネガティブなものは，それに対して「だからこそ～だ」と反論してみる．
    </p>
    <p></p>
    <textarea required name="question5" cols="50" rows="10"></textarea>
    <p></p>
    
    <input type="submit"  value="保存" formaction="/yourself_save">

</form>


